<aside class="bg-dark" id="menu" itemscope itemtype="http://schema.org/Menu">
  <div class="container text-center">
    <div class="call-to-action">
      <h2 itemprop="name">Savourez l'Inattendu à la Brasserie El Bocadillo</h2>
      <hr class="light">
      <p class="text-faded" itemprop="description">À la Brasserie El Bocadillo à Béziers, chaque plat est une aventure, un mariage audacieux entre tradition et innovation culinaire. Laissez-vous tenter par une expérience gustative unique dans notre restaurant.</p>
      <img src="img/photos/menu.webp" class="img-responsive" alt="Menu de la Brasserie El Bocadillo - Plats innovants et traditionnels à Béziers" itemprop="image" loading="lazy">
    </div>
  </div>
  <meta itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="offers" content="Cuisine française innovante">
</aside>
