<header itemscope itemtype="http://schema.org/Restaurant">
  <div class="header-content">
    <div class="header-content-inner">
      <hr>
      <h1 class="text-primary" itemprop="name">Brasserie El Bocadillo</h1>
      <hr>
      <p class="text-primary" itemprop="description">La brasserie vous accueille à Béziers pour un moment de partage et de découverte, au cœur de saveurs authentiques espagnoles et françaises. Nos plats raffinés fusionnent les meilleures traditions culinaires des deux pays.</p>
      <a href="#contact" class="btn btn-primary btn-xl page-scroll" itemprop="reservationUrl">Réserver une table</a>
    </div>
  </div>
  <meta itemprop="servesCuisine" content="Cuisine espagnole, Cuisine française">
  <meta itemprop="priceRange" content="€€-€€€">
  <meta itemprop="address" content="16 Rue du Terret, 34500 Béziers, France">
  <meta itemprop="telephone" content="+33660288441">
</header>
