<section class="no-padding bg-dark" id="photos">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/1.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Tartelette aux fraises et éclats de brownie
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/2.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Smash Burger
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/3.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Salade césar
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/4.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Rigatonis à la crème de Roquefort et pancetta
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/5.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Délice de tomate et burrata au pesto
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/6.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Pinsa authentique
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/7.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Bocadillo au poulet mariné
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
            <img src="img/photos/8.jpeg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                      Émincé de poulet aux poivrons
                    </div>
                </div>
            </div>
        </a>
      </div>
    </div>
  </div>
</section>
