<section class="no-padding bg-dark" id="photos" itemscope itemtype="http://schema.org/Menu">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-2 col-xs-4" itemprop="hasMenuSection" itemscope itemtype="http://schema.org/MenuSection">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/1.jpeg" class="img-responsive" alt="Tartelette aux fraises et éclats de brownie - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Tartelette aux fraises et éclats de brownie
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/2.jpeg" class="img-responsive" alt="Smash Burger - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Smash Burger
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/3.jpeg" class="img-responsive" alt="Salade césar - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Salade césar
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/4.jpeg" class="img-responsive" alt="Rigatonis à la crème de Roquefort et pancetta - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Rigatonis à la crème de Roquefort et pancetta
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/5.jpeg" class="img-responsive" alt="Délice de tomate et burrata au pesto - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Délice de tomate et burrata au pesto
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/6.jpeg" class="img-responsive" alt="Pinsa authentique - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Pinsa authentique
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/7.jpeg" class="img-responsive" alt="Bocadillo au poulet mariné - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Bocadillo au poulet mariné
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/8.jpeg" class="img-responsive" alt="Émincé de poulet aux poivrons - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Émincé de poulet aux poivrons
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/9.jpeg" class="img-responsive" alt="Apéritif dinatoire - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Apéritif dinatoire
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/10.jpeg" class="img-responsive" alt="Ravioles de saumon à l'encre de seiche - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Ravioles de saumon à l'encre de seiche
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/11.jpeg" class="img-responsive" alt="Brochette De Boeuf - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Brochette De Boeuf
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
          <img src="img/photos/12.jpeg" class="img-responsive" alt="Pinsa 4 Fromages - Brasserie El Bocadillo - Béziers" loading="lazy" itemprop="image">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded" itemprop="name">
                Pinsa 4 Fromages
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
